@import '../../styles/colors.modules'

.MyStructure
    .user__info
        gap: 2px

        .info
            align-items: center

            h3
                font-size: 32px

        .invited
            display: flex
            gap: 20px
            text-align: right

        .mentor
            display: flex
            align-items: center
            gap: 16px

            h3
                font-size: 18px
            h4
                font-size: 16px

    .affiliateLink
        h2
            margin-bottom: 12px

        p
            margin-bottom: 24px

        .links
            display: flex
            align-items: center
            gap: 20px

            .net
                width: 16%
                display: flex
                justify-content: space-between

            .action__input
                width: 85%
                display: flex
                align-items: center
                justify-content: space-between

                p
                    margin-bottom: 0

                span
                    display: flex
                    align-items: center
                    gap: 10px
                    cursor: pointer

    .search
        display: flex
        align-items: center

        border-bottom: 1px solid $grayColor
        padding-bottom: 24px
        margin-bottom: 24px

    .launchpad
        .star
            width: 20px
            height: 20px

        .friend
            .friend__name
                display: flex
                flex-direction: column
                gap: 0
                text-align: left
                font-size: 14px
                align-items: flex-start
