@import  '../../styles/colors.modules'
    
.Academy
    ul
        display: flex
        align-items: center
        gap: 20px
        margin-bottom: 24px

        li
            color: $secondColor
            cursor: pointer

            &.btn__active
                color: #fff

@media ( max-width: 720px )

    .Academy
        ul
            display: flex
            align-items: center
            gap: 20px
            margin-bottom: 24px
            overflow-x: scroll

            li
                color: $secondColor
                cursor: pointer

                &.btn__active
                    color: #fff

        .section__name
            width: 100%
            display: flex
            align-items: center
            justify-content: space-between

            div
                display: flex
                align-items: center
                flex-direction: column-reverse
                gap: 10px
                align-items: flex-end

            span
                font-size: 10px